@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --white: #FFFFFF;
    --gold: #FAB637;
    --red: #FF4848;
    --orange: #CC6119;
    --lesserWhite: #ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
    --gray: #2f3234;
}

/* Default title settings */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

#topHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}

#mainTitle {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
}

.topHeaderTitle {
    color: var(--orange);
    font-weight: bold;
    text-transform: uppercase;
}

.topHeaderContent {
    color: var(--white);
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}

#addressSection {
    display: flex;
}

#addressIcon {
    margin-top: 20px;
    margin-right: 5px;
    height: 45px;
    width: 45px;
}

#addressContent {
    text-transform: uppercase;
}

/* stands for 'Top Header Content Reset'*/
.THCR {
    font-weight: 400;
}

#phoneSection {
    display: flex;
}

#phoneIcon {
    margin-top: 20px;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

#phoneNumber {
    font-size: 1.5rem;
}

#socialsBadges {
    display: flex;
    gap: 30px;

}

.topHeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.topHeaderIconImage {
    width: 20px;
    height: 20px;
    color: white;
}

body nav {
    position: absolute;
    width: 100vw;
    opacity: 0.85;
    display: flex;
    justify-content: flex-end;
    background-color: var(--white);
    box-shadow: 0 3px 3px #d1d1d1;
}

body nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    margin-right: 200px;
}

body nav ul a {
    text-decoration: none;
}

body nav ul li {
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    padding: 22px;
}

.currentButton {
    background-color: var(--orange);
    color: var(--white);
}

#bottomHeaderBackground {
    width: 100vw;
}