@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

:root {
    --white: #ffffff;
    --gold: #fab637;
    --red: #ff4848;
    --orange: #cc6119;
    --lesserWhite: #eceff3;
    --black: #232628;
    --blue: #6c98e1;
    --gray: #2f3234;
}

/* Default title settings */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

.topHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}

.mainTitle {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
}

.topHeaderTitle {
    color: var(--orange);
    font-weight: bold;
    text-transform: uppercase;
}

.topHeaderContent {
    color: var(--white);
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}

.addressSection {
    display: flex;
}

.addressIcon {
    margin-top: 20px;
    margin-right: 5px;
    height: 45px;
    width: 45px;
}

.addressContent {
    text-transform: uppercase;
}

/* stands for 'Top Header Content Reset'*/
.THCR {
    font-weight: 400;
}

.phoneSection {
    display: flex;
}

.phoneIcon {
    margin-top: 20px;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.phoneNumber {
    font-size: 1.5rem;
}

.socialsBadges {
    display: flex;
    gap: 30px;
}

.topHeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.topHeaderIconImage {
    width: 20px;
    height: 20px;
    color: white;
}

.menu {
    display: none;
}

body nav {
    position: absolute;
    width: 100vw;
    opacity: 0.85;
    display: flex;
    justify-content: flex-end;
    background-color: var(--white);
    box-shadow: 0 3px 3px #d1d1d1;
}

body nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    margin-right: 200px;
}

body nav ul a {
    text-decoration: none;
}

body nav ul li {
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    padding: 22px;
}

.currentButton {
    background-color: var(--orange);
    color: var(--white);
}

.bottomHeaderBackground {
    width: 100vw;
}

.slogan {
    background-color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
}

.slogan h1 {
    font-size: 2.3rem;
    margin: 0;
    padding: 30px;
    margin-left: 8%;
}

.sloganFirst {
    color: var(--white);
}

.sloganSecond {
    color: var(--orange);
}

/* temporary hack for the weird gap */
.afterBottomHeader {
    max-height: 800px;
}

@media (max-width: 600px) {

    .mainTitle {
        display: none;
    }

    .addressSection {
        display: none;
    }

    .phoneSection {
        margin-right: auto;
        margin-left: 10px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .times {
        display: none;
    }

    .socialsBadges {
        display: none;
    }

    .menu {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 15px;
        width: 2.5em;
    }

    body nav {
        display: none;
    }

    .bottomHeaderBackground {
        display: none;
    }

    .slogan h1 {
        padding: 10px;
        padding-bottom: 20px;
        margin-left: 0;
    }
}