@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

:root {
    --white: #ffffff;
    --gold: #fab637;
    --red: #ff4848;
    --orange: #cc6119;
    --lesserWhite: #eceff3;
    --black: #232628;
    --blue: #6c98e1;
    --gray: #2f3234;
}

/* Default title settings */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

.topHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
}

.mainTitle {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    transition: all 0.1s ease;
}

.mainTitle:hover {
    color: #cccccc;
}

.topHeaderTitle {
    color: var(--orange);
    font-weight: bold;
    text-transform: uppercase;
}

.topHeaderContent {
    color: var(--white);
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}

.addressSection {
    display: flex;
}

.addressIcon {
    margin-top: 20px;
    margin-right: 5px;
    height: 45px;
    width: 45px;
}

.addressContent {
    text-transform: uppercase;
}

.top-header-content-reset {
    font-weight: 400;
}

.phoneSection {
    display: flex;
}

.phoneIcon {
    margin-top: 20px;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.phoneNumber {
    font-size: 1.5rem;
}

.socialsBadges {
    display: flex;
    gap: 30px;
}

.topHeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    transition: all 0.3s ease;
}

.topHeaderIcon:hover {
    background-color: #51565a;
}

.topHeaderIconImage {
    width: 20px;
    height: 20px;
    color: white;
}

.menu {
    display: none;
}

body nav {
    position: absolute;
    width: 100vw;
    opacity: 0.85;
    display: flex;
    justify-content: flex-end;
    background-color: var(--lesserWhite);
    box-shadow: 0 3px 3px #d1d1d1;
}

.nav-no-absolute {
    position: static;
}

body nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    margin-right: 200px;
}

body nav ul a {
    text-decoration: none;
}

body nav ul li {
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    padding: 22px;
    transition: all 0.2s ease;
}

body nav ul li:hover {
    color: var(--white);
    background-color: var(--orange);
}

.currentButton {
    background-color: var(--orange);
    color: var(--white);
}

.bottomHeaderBackground {
    width: 100vw;
}

.slogan {
    background-color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
}

.slogan h1 {
    font-size: 2.3rem;
    margin: 0;
    padding: 30px;
    margin-left: 8%;
}

.sloganFirst {
    color: var(--white);
}

.sloganSecond {
    color: var(--orange);
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 60px auto 60px auto;
}

.introUpper {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.introUpperImg {
    width: 33vw;
}

.introUpperFirstContent {
    width: 35%;
}

.u-wel1 {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--black);
}

.u-wel1 span {
    color: var(--orange);
}

.u-wel2 {
    font-weight: bold;
    color: var(--black);
}

.u-wel3 {
    color: #969696;
}

.introBottom {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.introBottomImg {
    width: 33vw;
}

.introBottomFirstContent {
    width: 35%;
}

.introBottomFirstContent hr {
    color: #fefefe;
}

.b-wel1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.9rem;
    color: var(--black);
}

.b-wel2 {
    color: #969696;
}

.b-wel3 {
    margin-top: 40px;
}

.b-wel3 span img {
    width: 1em;
}

.flex-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 40em;
    background-image: url("../images/rent.jpg");
    background-size: cover;
}

.rent {
    display: flex;
    flex-direction: column;
    background-color: var(--gold);
    width: 30vw;
    padding: 42px;
    opacity: 0.88;
}

.buy {
    display: flex;
    flex-direction: column;
    background-color: var(--red);
    width: 30vw;
    padding: 42px;
    opacity: 0.88;
}

.q-title {
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.q-content {
    color: var(--white);
}

.m-line {
    width: 70%;
    color: var(--orange);
}

.recent-vehicles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.recent-vehicles h2 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.8rem;
}

.all-vehicles {
    display: flex;
    gap: 30px;
    margin: 1.5em auto 1.5em;
}

.single-vehicle {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25vw;
}

.single-vehicle-img {
    width: 25vw;
}

.vehicle-info {
    display: grid;
    grid-template-areas:
        "v-name v-name v-price"
        "line line line";
    background-color: var(--gray);
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

.v-line {
    grid-area: line;
    width: 100%;
    color: #4e5254;
}

.vehicle-name {
    grid-area: v-name;
}

.vehicle-price {
    grid-area: v-price;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    height: 80%;
    text-decoration: none;
    transition: all 0.3s ease;
}

.vehicle-price:hover {
    background-color: #8aade7;
}

.price-normal,
.vehicle-name {
    color: var(--white);
    font-weight: bold;
    font-size: 1.1rem;
}

.price-normal,
.price-discount {
    padding-left: 7px;
}

.price-discount {
    color: var(--black);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 1rem;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5em;
    margin-bottom: 3em;
}

.about-us h2 {
    font-size: 2.2rem;
    color: var(--black);
}

.about-us-reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.reason {
    display: flex;
    align-items: center;
    gap: 1.5em;
    width: 20vw;
}

.reason img {
    margin-bottom: 2em;
    width: 4.5em;
}

.reason-p1 {
    color: var(--black);
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.reason-p2 {
    color: #969696;
}

.contact-us-btn {
    background-color: var(--blue);
    border-color: var(--blue);
    text-decoration: none;
    border-bottom: outset 3px #8aade7;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.contact-us-btn:hover {
    background-color: #8aade7;
}

.contact-us-btn p {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 1em;
    font-size: 1.1rem;
}

.rental {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/vehicule3.jpg);
    background-size: cover;
    width: 100vw;
    height: 40em;
}

.rental-info {
    display: flex;
    flex-direction: column;
    background-color: var(--gold);
    opacity: 0.85;
    width: 25%;
    padding: 4em;
    margin-left: 15vw;
}

.rental-info-title {
    font-weight: bold;
    font-size: 2.1rem;
    text-transform: uppercase;
}

.rental-info-title span:nth-of-type(1) {
    color: var(--black);
}

.rental-info-title span:nth-of-type(2) {
    color: var(--white);
}

.rental-info p:nth-child(2) {
    color: var(--black);
}

footer {
    background-color: var(--black);
}

.footer-items {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding-top: 2.5em;
    padding-bottom: 2em;
}

.single-footer-item {
    width: 20vw;
}

.footer-item-title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

.footer-about p:nth-of-type(1) span {
    color: var(--blue);
}

.footer-about p:nth-of-type(2) {
    color: #a5a5a5;
}

.footer-times p {
    color: var(--white);
}

.footer-times span {
    font-weight: bold;
    color: #a5a5a5;
}

.footer-newsletter-subscribe {
    display: flex;
    gap: 0;
}

.footer-newsletter-subscribe input {
    border: none;
    padding: 10px;
}

.footer-newsletter-subscribe button {
    border: none;
    background-color: var(--orange);
    transition: all 1s ease;
}

.footer-newsletter-subscribe button:hover {
    background-color: #f2731d;
    cursor: pointer;
}

.footer-newsletter p:nth-of-type(2) {
    color: #888888;
}

.footer-socials-list {
    display: flex;
    gap: 0.5em;
}

.single-footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    transition: all 0.3s ease;
}

.single-footer-social:hover {
    background-color: #51565a;
}

.single-footer-social img {
    padding: 0.5em;
    width: 1.8em;
}

footer hr {
    width: 90vw;
}

.footer-copyright {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: #888888;
}

.vehicle-details-main {
    margin: auto 10% auto 10%;
}

.vehicle-details-whereis p {
    color: #888888;
}

.vehicle-details-whereis hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.vehicle-details-flex {
    display: flex;
    flex-direction: column;
    width: 45vw;
    gap: 1em;
}

.vehicle-details-flex h1 {
    font-size: 2.3rem;
    margin-block-start: 0.67em;
    margin-block-end: 0;
}

.vehicle-details-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--black);
    padding-inline-start: 0.5em;

}

.vehicle-details-nav li {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    transition: all 0.3s ease;
}

.vehicle-details-nav li:hover {
    background-color: var(--white);
    color: var(--black);
}

.vehicle-details-nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 0.8rem;
}

.vehicle-details-select {
    background-color: var(--white);
    box-shadow: 0 -4px 0 var(--orange);
}

.vehicle-details-select li {
    color: var(--black);
}

.vehicle-details-i1 {
    font-size: 1.1rem;
    color: var(--black);
}

.vehicle-details-i2 {
    color: var(--black);
}

.vehicle-details-i3 {
    color: #888888;
    font-style: italic;
    box-shadow: -4px 0 0 var(--orange);
    padding: 0.5em;
    padding-left: 2em;
}

.vehicle-details-i4 {
    color: var(--black);
}

.vehicle-details-options p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--black);
}

.vehicle-details-options ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 5em;
    padding-inline-start: 0;
}

.vehicle-details-options ul li {
    padding-top: 0.5em;
}

@media (max-width: 1300px) {

    .footer-items {
        flex-direction: column;
        align-items: center;
    }

    .single-footer-item {
        width: 70%;
    }
}

@media (max-width: 1150px) {

    .socialsBadges {
        display: none;
    }

    .intro {
        flex-direction: column;
    }

    .introUpper {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .introUpperImg {
        width: 70vw;
    }

    .introUpperFirstContent {
        width: 70vw;
    }

    .introBottom {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .introBottomFirstContent {
        width: 70vw;
    }

    .introBottomImg {
        width: 70vw;
    }

    .all-vehicles .single-vehicle:nth-child(3) {
        display: none;
    }

    .single-vehicle {
        width: 40vw;
    }

    .single-vehicle-img {
        width: 40vw;
    }

    .about-us-reasons {
        flex-direction: column;
    }

    .reason {
        width: 50vw;
    }

    .rental {
        justify-content: center;
    }

    .rental-info {
        margin-left: 0;
        width: 60vw;
    }
}

@media (max-width: 1000px) {

    .times {
        display: none;
    }

    .vehicle-details-flex {
        width: 50vw;
    }

    .vehicle-details-nav {
        flex-direction: column;
    }
}

@media (max-width: 750px) {

    .mainTitle {
        display: none;
    }

    .addressSection {
        display: none;
    }

    .phoneSection {
        margin-right: auto;
        margin-left: 10px;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .times {
        display: none;
    }

    .socialsBadges {
        display: none;
    }

    .menu {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 15px;
        width: 2.5em;
    }

    body nav {
        display: none;
    }

    .bottomHeaderBackground {
        display: none;
    }

    .slogan h1 {
        padding: 10px;
        padding-bottom: 20px;
        margin-left: 0;
    }

    .flex-questions {
        flex-direction: column;
        gap: 40px;
        height: auto;
    }

    .rent {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        padding: 40px;
    }

    .buy {
        flex-direction: column;
        align-items: center;
        width: 80vw;
        padding: 42px;
    }

    .q-title,
    .q-content {
        padding-right: 100px;
        padding-left: 100px;
    }

    .all-vehicles .single-vehicle:nth-child(2) {
        display: none;
    }

    .all-vehicles .single-vehicle:nth-child(1) {
        width: 80vw;
    }

    .single-vehicle-img {
        width: 80vw;
    }

    .about-us h2 {
        font-size: 2rem;
    }

    .rental-info {
        margin-left: 0;
        width: 100vw;
    }

    .vehicle-details-flex {
        width: 80vw;
    }
}